.header__lang-link{
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 117%;
    text-decoration: none;
    color: #ffffff;
    width: calc(30/78*100%);
    padding-bottom: 4px;
    transition: opacity linear .2s;
}

.header__lang-link:hover{
    opacity: .8;
}

@media screen and (max-width: 767px){
    .header__lang-link{
        font-size: 18px;
        line-height: 111%;
    }
}