.root__container-margin-top{
    margin-top: 92px;
    margin: 90px auto 0;
}


@media screen and (max-width: 768px){
    .root__container-margin-top{
        margin: 64px auto 0;

    }
    
}

@media screen and (max-width: 1024px){
    .root__container-margin-top{
        margin: 88px auto 0;
    }
    
}