.lead__label_town_krasnoyarsk{
    top: calc(197.95/615*100%);
    left: calc(824.07/984*100%);
}

@media screen and (max-width: 768px){
    .lead__label_town_krasnoyarsk{
        top: calc(66/200*100%);
        left: calc(267.99/320*100%);
        width: calc(26.3/320*100%);
        height: calc(2.83/200*100%);
    }
    
}