.lead__label_town_novgorod{
    top: calc(90.21/615*100%);
    left: calc(92.54/984*100%);
}

@media screen and (max-width: 768px){
    .lead__label_town_novgorod{
        top: calc(29.34/200*100%);
        left: calc(30.09/320*100%);
        width: calc(21.41/320*100%);
        height: calc(8.67/200*100%);
    }
    
}