.lead__label_town_omsk{
    top: calc(290.01/615*100%);
    left: calc(713.9/984*100%);
}


@media screen and (max-width: 768px){
    .lead__label_town_omsk{
        top: calc(95.94/200*100%);
        left: calc(232.16/320*100%);
        width: calc(11.25/320*100%);
        height: calc(2.83/200*100%);
        
    }

}