.lead__label_town_glazov{
    top: calc(295.84/615*100%);
    left: calc(546.8/984*100%);
}

@media screen and (max-width: 768px){
    .lead__label_town_glazov{
        top: calc(97.83/200*100%);
        left: calc(117.82/320*100%);
        width: calc(15.23/320*100%);
        height: calc(2.83/200*100%);
        
    }
    
}