.lead__label_town_pskov{
    top: calc(230.58/615*100%);
    left: calc(23.27/984*100%);
}

@media screen and (max-width: 768px){
    .lead__label_town_pskov{
        top: calc(76.61/200*100%);
        left: calc(7.57/320*100%);
        width: calc(13/320*100%);
        height: calc(2.83/200*100%);
        
    }

}