.lead__label_town_tumen{
    top: calc(263.38/615*100%);
    left: calc(621.44/984*100%);
}

@media screen and (max-width: 768px){
    .lead__label_town_tumen{
        top: calc(87.6/200*100%);
        left: calc(202.9/320*100%);
        width: calc(17.02/320*100%);
        height: calc(2.83/200*100%);
        
    }

}