.lead__label_town_perm{
    top: calc(220.82/615*100%);
    left: calc(548.96/984*100%);
}


@media screen and (max-width: 768px){
    .lead__label_town_perm{
        top: calc(73.44/200*100%);
        left: calc(178.52/320*100%);
        width: calc(13.08/320*100%);
        height: calc(2.76/200*100%);
        
    }

}