.intro__list{
    margin-top: 33px;
    margin-left: 100px;
    box-sizing: border-box;
    margin-left: calc(100 / 1184 * 100%);
    
}

@media screen and (max-width: 1024px) {
    .intro__list{
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .intro__list{
        
        margin: 0 auto;
    }
}

@media screen and (max-width: 1279px) {
    .intro__list{
        
    }
}