.intro__list{
    margin-top: 33px;
    box-sizing: border-box;
    margin-left: calc(100 / 1184 * 100%);
    list-style-type: none;
    padding: 0;
    
}

@media screen and (max-width: 1024px) {
    .intro__list{
        margin: 33px auto;
    }
}



