


.place__website__link{
    padding: 0;
    font-family: 'Inter-Thin';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: opacity linear .2s;
    
}

.place__website__link:hover{
    opacity: .8;
}