.header{
    margin: 0;
    padding: 0;
    max-width: 1184px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 28px;
    left: 48px;
    right: 48px;

}
@media screen and (max-width: 1024px){
    .header{
        max-width: 928px;
        left: 24px;
        height: 42px;
        right: 24px;
        
    }
}
@media screen and (max-width: 768px){
    .header{
        max-width: 720px;
        min-width: 288;
        left: 16px;
        top: 16px;
        right: 16px;
       

    }
}



