.header{
    margin: 0;
    padding: 0;
    max-width: 1184px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 28px;
    left: calc(48/1280*100%);
    left: auto;
    
    

}

@media screen and (max-width: 1279px){
    .header{
        width: calc(928/1024*100%);
    }
    
}
@media screen and (max-width: 1023px){
    .header{
        width: calc(928/1024*100%);
        left: 24px;
        height: 42px;
        right: 24px;
        
    }
}
@media screen and (max-width: 767px){
    .header{
        max-width: 720px;
        width: calc(288/320*100%);
        left: 16px;
        top: 16px;
        right: 16px;
       

    }
}



