.lead__point{
    position: absolute;
    width: calc(6.99/1280*100%);
    height: calc(8.14/1280*100%);
    background-color: #181A19;
    border-radius: 50%;
}

@media screen and (max-width: 768px){
    .lead__point{
        width: calc(2.27/320*100%);
        height: calc(2.65/200*100%); 
    }
    
}