.place__text{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 25px;
    overflow-wrap: break-word;
}

@media screen and (max-width: 1023px) {
    .place__text{
        max-width: 456px;
    }
}

@media screen and (max-width: 767px){
    .place__text{
        width: calc(288/320*100%);
        box-sizing: border-box;
        margin: 0 auto;
    }    
}

@media screen and (max-width: 470px){
    .place__text{
        padding-left: calc(16/320*100%);
        width: calc(288/320*100% + 3.9%);
        margin: 0;
    }    
}