.lead__image{
    margin: 0 auto;
    padding: 0;
    margin-top: 64px;
    width: 100%;
    height: auto;
    object-fit: contain;
    box-sizing: content-box;
    position: relative;
}

@media screen and (max-width: 1280px) {
    .lead__image{
        margin: 56px 0 auto;
        width: calc(928/1024*100%);
    }


    
}

@media screen and (max-width: 1024px){
    .lead__image{
        width: 100%;
        
    }
    
}




@media screen and (max-width: 768px){
    .lead__image{
        width: 100%;
        margin-top: 40px;
    }
}