
.intro__text{
    padding: 0;
    margin: 0;
    margin-top: 40px;
    margin-left: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    max-width: 690px;
    margin-left: calc(100 / 1184 * 100%);
}

@media screen and (max-width: 1279px) {
    .intro__text{
        margin-left: calc(100 / 1184 * 100%);
    }
}
@media screen and (max-width: 767px) {
    .intro__text{
        margin-left: 0;
    }
}
@media screen and (max-width: 1024px) {
    .intro__text{
        margin-left: 0;
    }
}

