

.lead__subtitle{
    font-family: "Inter";
    margin: 0 auto;
    padding: 0;
    max-width: 640px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 31px;
    box-sizing: border-box;

}

@media screen and (max-width: 767px){
    .lead__subtitle{
        min-width: 288px;
        max-width: 640px;
        font-size: 16px;
        line-height: 125%;
        margin-top: 16px;
    }
    
}