@font-face {
    font-family: "Inter";
    src: url("../../../vendor/fonts/Inter-Regular.woff")format("woff"),
    url(../../../vendor/fonts/Inter-Regular.woff2)format("woff2"),
    url(../../../vendor/fonts/Inter.ttf)format("ttf");
}


.lead__subtitle{
    font-family: "Inter";
    margin: 0 auto;
    padding: 0;
    width: calc(640 / 984 * 100%);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    margin-top: 32px;
    border: 1px solid red;
    box-sizing: border-box;

}