.cover{
    background-image: url("../../images/__background.png");
    display: flex;
    font-family: "Inter";
    font-weight: 400;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
    background-size: cover;
    background-position: center;
    max-width: 1184px;
    box-sizing: border-box;
}

.cover::after{
    content: '';
    width: 0;
    height: 0;
    padding-top: calc(740/1184*100%);
}


@media screen and (max-width: 1279px) {
    .cover{
        width: 100%;
    }  
}








