.cover__overlay{
    background-color: #2A2C2F;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
    width: 100%;
    max-height: 740px;
    transition: opacity linear .2s;
    object-fit: cover;
}



