
.cover__title{
    margin: 0;
    padding: 0;
    font-family: 'Inter-Bold';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    color: #FFFFFF;
    max-width: 560px;
    position: absolute;
    left: auto;
    top: calc(245/740*100%);
}

@media screen and (max-width: 1280px){
    .cover__title{
        
        top: calc(195/746*100%);
        

    }
    
}
@media screen and (max-width: 1024px){
    .cover__title{
        
        top: calc(115/640*100%);
        

    }
    
}





@media screen and (max-width: 768px){
    .cover__title{
        font-size: 32px;
        line-height: 109%;
        top: calc(33/200*100%);
        width: calc(250/320*100%);

    }
    
}