.lead__group{
    grid-column-start: 1;
    grid-row-start: 1; 
    max-width: 937.09px;
    z-index: 1;
    position: relative;
    top: calc(90.21/615*100%);
    left: calc(23.27/984*100%);
    object-fit: cover;
}

@media screen and (max-width: 1279px){
    .lead__group{
        width: calc(883.76/928*100%)
    }
    
    
}



