.footer{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1184px;
    padding-bottom: 24px;
}

@media screen and (max-width: 1280px){
    .footer{
        width: calc(928/1024*100%);
    }
    
}



@media screen  and (max-width: 768px){
    .footer{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        min-height: 310px;
        
    }
    
}