.header__lang-links{
    margin: 0;
    padding: 0;
    height: 52px;
    width: 76px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
}

@media screen and (max-width: 768px){
    .header__lang-links{
        height: 42px;
        width: 72px;

    }
    
}

