.place__website{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-self: end;
    gap: 12px; 
}

@media screen and (max-width: 767px){
    .place__website{
        max-width: 440px;
        height: 46px;
        margin: 0 auto;
        align-self: center; 


    }
    
}
@media screen and (max-width: 470px){
    .place__website{
        width: calc(288/320*100%);
        height: 46px;
        margin-left: calc(16/320*100%);
        align-self: start; 


    }
    
}