.cover__item{
    margin: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: rgba(42, 44, 47, .3);
    transition: background-color linear .2s;
    gap: 32px;
    box-sizing: border-box;
    text-decoration: none;
}

.cover__item:hover{
    background-color: rgba(42, 44, 47, .8);
}

@media screen and (max-width: 767px){
    .cover__item{
        gap: 16px;
        padding: 0;
    }
}