.lead__point_town_ulan-ude{
    top: calc(248.83/615*100%);
    right: calc(52.01/984*100%);
}

@media screen and (max-width: 768px){
    .lead__point_town_ulan-ude{
        top: calc(80.92/200*100%);
        right: calc(16.91/320*100%);
        

    }
    
}
